/*
 * RESPONSIVE MEDIA QUERIES MIXIN
 */
@mixin desktop-breakpoint {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

/*
 * TYPOGRAPHY
 */
html {
  font-family: 'DM Sans', sans-serif;
}

.headingXL {
  font-size: 30px;
  line-height: 39.06px;

  @include desktop-breakpoint {
    font-size: 48px;
    line-height: 62.5px;
  }
}

.headingL {
  font-size: 24px;
  line-height: 31.25px;

  @include desktop-breakpoint {
    font-size: 32px;
    line-height: 41.66px;
  }
}

.bodyRegular {
  font-size: 15px;
  line-height: 19.53px;

  @include desktop-breakpoint {
    font-size: 18px;
    line-height: 23.44px;
  }
}

.bodyBold {
  @extend .bodyRegular;
  font-weight: bold;
}

.miniCaption {
  font-size: 12px;
  line-height: 15.62px;

  @include desktop-breakpoint {
    font-size: 15px;
    line-height: 19.53px;
  }
}

/*
 * COLOR VARIABLES
 */
$white: #ffffff;
$cardWhite: #fffbf6;
$creamBG: #f8e9dd;
$medBrown: #92857a;
$darkBrown: #382314;
$cyan: #76b5bc;
$cyan-hover: #b4e0e5;
$red: #ec755d;
$red-hover: #ff9b86;
